# Ignore everything on scratch by default, except the provided examples
/*
!.gitignore
#!subdir/
#!scratch-simulator.cc
!project_hidden.cc
!project_exposed.cc
!project_four.cc
!project_diff.cc
!project_tcp.cc
!project_csma.cc
!project_mobile.cc
