# Ignore everything on scratch by default, except the provided examples
/*
!.gitignore
#!subdir/
#!scratch-simulator.cc
!project_hidden.cc
!project_exposed.cc
!project_exposed_four2.cc
!project_exposed_diff.cc
!project_tcp.cc
!project_csma.cc
!project_mobile.cc
!HW5_definitivo.cc
